.w3-card-4 {
    border-style: outset;
}

#etusivu_2 {
    padding: 4%;
}
#toiminta_2 {
    padding: 4%;
}
#tietosuoja_2 {
    
    padding-top: 14px;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
}