body {
background-image: url("../../static/images/laajalahti5.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

@media (max-width: 330px) {
#ytvideo {
    max-height: 180px !important;
}
}

@media (max-width: 601px) {
body {
    background-image: none;
}

#ytvideo {
    max-height: 220px;
}
}

@media (max-width: 993px) {
#tietoa {
    max-width: 100% !important;
    padding-right: 5%;
}

#ytvideo {
    height: 400px;
}
}

@media (min-width: 993px) {
#ytvideo {
    height: 320px;
}
}

.navbar {
border-top-style: outset;
border-bottom-style: outset;
}

#layer {
border-style: outset;
}

.menubutton {
display: inline-block;
text-align: middle;
transition: .75s;
transform: rotate(-360deg);
}

.menubutton::after {
transition: .75s;
color: white;
content: "menu";
}

.openMenu {
transition: .75s;
transform: rotate(360deg);
}

.openMenu::after {
color: black;
content: "Close";
transition: .75s;
}

.hidden {
visibility: hidden;
}

#sticky {
position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
z-index: 1;
}

.navbar {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

.bottombar {
display: flex;
justify-content: left;
width: 100%;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
color: white;
}

.bottombar span {
display: flex;
padding: 12px 15px;
font-size: 15px;
}

.center-links {
display: inline-flex;
justify-content: center;
width: 100%;
}

.center-links a {
display: flex;
justify-content: center;
padding: 12px 15px;
background-color: #333;
color: #f2f2f2;
text-decoration: none;
font-size: 18px;
}

.center-links a:hover {
background-color: grey;
}

.right-buttons {
display: flex;
}

.right-buttons button,
.right-buttons a {
display: flex;
text-align: center;
cursor: pointer;
padding: 14px 12px;
background-color: #333;
color: #f2f2f2;
text-decoration: none;
}

.left-buttons {
display: flex;
}

.left-buttons button {
display: flex;
cursor: pointer;
text-align: center;
padding: 14px 12px;
background-color: #333;
color: #f2f2f2;
text-decoration: none;
border-style: none;
}

#right-containers {
width: 20%;
background-color: #f0f0f0;
padding: 20px;
box-sizing: border-box;
height: 100vh;
overflow-y: auto;
}